<html lang="en">
<head>
  <title>My Astro</title>
</head>
  <body>
<center>Next Lunar Eclipse for current geographical position: Lat/long</center><br><br>
{{ecl_central_or_not}}

<div>
<p>Type : {{Type}}</p>
<p>Start : {{start}}</p>
<p>Max  : {{max}}</p>
<p>End  : {{end}}</p>
<p>Moon set  : {{moon_set}}</p>
<p>Moon rise  : {{moon_rise}}</p>
<p>Magnitude Umbral  : {{magnitude_umbral}}</p>
<p>Magnitude Penumbral  : {{magnitude_penumbral}}</p>
<p>Duration Umbral  : {{duration_umbral}}</p>
<p>Duration Penumbral  : {{duration_penumbral}}</p>
</div>



<div>
<p>Soros Cycle : {{soros_cycle}}</p>
<p>Soros Number : {{soros_number}}</p>
<p>Moon Altitude : {{moon_alt}}</p>
<p>Moon Azimuthul : {{moon_azm}}</p>
<p>Sun  Position : {{sun_pos}}, sun is in {{sun_zodiac}}</p>
<p>Moon  Position : {{moon_pos}}, moon is in {{moon_zodiac}}</p>
</div>
  </body>
</html>