<html lang="en">
<head>
  <title>My Astro</title>
</head>
  <body>
<center><h2>Moon Phases</h2></center>
		{% set i = 0 %}
		<table>
    <tr>
		<th style = "width:250;">Full Moon</th>			
		<th style = "width:250;">Third Quater</th>
		<th style = "width:250;">First Moon</th>
		<th style = "width:250;">New Quater</th>	</tr>
<tr>
      {% for key, value in rez.iteritems() %}
            
            {% for key, value in value.iteritems() %}
               <td> {{ value }}</td>
            
          {% set i = i+1 %}
          {% if i%4==0 %}
          </tr><tr>
          {% endif %}
          {% endfor %}
      {% endfor %}
      </tr>
            
      
      	</table>

  </body>
</html>