<html lang="en">
<head>
  <title>My Astro</title>
</head>
  <body>
<center><h2>Moon Phases</h2></center>
		{% set i = 0 %}
		<table>
		<th style = "width:250;">New Moon</th>			
		<th style = "width:250;">First Quater</th>
		<th style = "width:250;">FullMoon</th>
		<th style = "width:250;">Third Quater</th>			
      {% for value in rez %}
            <tr>
            <td>{{rez[i][0]}} </td>
            <td>{{rez[i][1]}} </td>
            <td>{{rez[i][2]}} </td>
            <td>{{rez[i][3]}} </td>
            </tr>
            {% set i = i+1 %}
      {% endfor %}
      	</table>

  </body>
</html>