<html lang="en">
<head>
  <title>My Astro</title>
</head>
  <body>
<center>Next Solar Eclipse global</center><br><br>
{{ecl_central_or_not}}

<div>
<p>Type : {{Type}}</p>
<p>Start : {{start}}</p>
<p>Start Totality : {{start_totality}}</p>
<p>Centerline Start : {{centerline_start}}</p>
<p>Max  : {{max}}</p>
<p>Centerline End : {{centerline_end}}</p>
<p>End Totality : {{end_totality}}</p>
<p>End  : {{end}}</p>
<p>Duration  : {{duration}}</p>

</div>



<div>
<p>Soros Cycle : {{soros_cycle}}</p>
<p>Soros Number : {{soros_number}}</p>
<p>Max Covered : {{max_covered}}</p>
<p>Sun Altitude : {{sun_alt}}</p>
<p>Sun Azimuthul : {{sun_azm}}</p>
<p>Sun  Position : {{sun_pos}}, sun is in {{sun_zodiac}}</p>
<p>Moon  Position : {{moon_pos}}, moon is in {{moon_zodiac}}</p>
<p>Where -latitude is  {{latii}} and -longitude is {{longii}}</p>
<p>Magnitude : {{magnii}}</p>
</div>
  </body>
</html>